n8n_breaking_news_detector.json
{
  "name": "News Automation - Breaking News Detector",
  "nodes": [
    {"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 10}]}}, "id": "1", "name": "Every 10 Minutes", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [250, 200]},
    {"parameters": {"command": "C:\\Users\\USER\\AppData\\Local\\Python\\pythoncore-3.14-64\\python.exe D:\\workspace\\news\\run_breaking_news.py", "options": {"timeout": 1200000}}, "id": "2", "name": "Run Breaking News", "type": "n8n-nodes-base.executeCommand", "typeVersion": 1, "position": [500, 200], "onError": "continueRegularOutput"},
    {"parameters": {"jsCode": "const items = $input.all();\nconst item = items[0].json;\nconst stdout = item.stdout || '';\nconst exitCode = item.exitCode;\nlet summary = {};\nconst match = stdout.match(/\\[JSON_SUMMARY\\]([\\s\\S]*?)\\[\\/JSON_SUMMARY\\]/);\nif (match) { try { summary = JSON.parse(match[1].trim()); } catch (e) {} }\nreturn [{ json: { exitCode: exitCode, stdout: stdout, title: summary.title || '', description: summary.description || '', video: summary.video || '', api: summary.api || 'OpenAI', type: summary.type || 'breaking' } }];"}, "id": "6", "name": "Parse JSON Summary", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [700, 200]},
    {"parameters": {"conditions": {"options": {"caseSensitive": false, "typeValidation": "loose"}, "conditions": [{"leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": {"type": "number", "operation": "equals"}}], "combinator": "and"}}, "id": "5", "name": "Success?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [900, 200]},
    {"parameters": {"sendTo": "YOUR_EMAIL@gmail.com", "subject": "=🚨 Breaking News: {{ $json.title }}", "emailType": "html", "message": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;background:#f5f5f5;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1)}.header{background:linear-gradient(135deg,#ef4444,#dc2626);color:#fff;padding:30px;text-align:center}.header h1{margin:0;font-size:24px}.content{padding:30px}.info-box{background:#fef2f2;border-left:4px solid #ef4444;padding:15px;margin:15px 0;border-radius:0 8px 8px 0}.info-row{display:flex;justify-content:space-between;padding:8px 0;border-bottom:1px solid #e5e7eb}.label{color:#6b7280;font-size:14px}.value{color:#111827;font-weight:600}.desc-box{background:#fff7ed;border-left:4px solid #f97316;padding:15px;margin:15px 0;border-radius:0 8px 8px 0;white-space:pre-wrap}.output-box{background:#1f2937;color:#10b981;padding:15px;border-radius:8px;font-family:monospace;font-size:11px;white-space:pre-wrap;max-height:200px;overflow-y:auto}.footer{background:#f9fafb;padding:20px;text-align:center;color:#6b7280;font-size:12px}</style></head><body><div class=\"container\"><div class=\"header\"><h1>🚨 Breaking News 업로드!</h1></div><div class=\"content\"><div class=\"info-box\"><div class=\"info-row\"><span class=\"label\">Type</span><span class=\"value\">Breaking News</span></div><div class=\"info-row\"><span class=\"label\">Engine</span><span class=\"value\">{{ $json.api }}</span></div><div class=\"info-row\"><span class=\"label\">Time</span><span class=\"value\">{{ $now.format('yyyy-MM-dd HH:mm:ss') }} KST</span></div></div><h3>📺 제목</h3><div class=\"desc-box\">{{ $json.title }}</div><h3>📝 YouTube 설명</h3><div class=\"desc-box\">{{ $json.description }}</div><details><summary>📋 전체 로그</summary><div class=\"output-box\">{{ $json.stdout }}</div></details></div><div class=\"footer\">🤖 AI News Daily - Breaking News</div></div></body></html>"}, "id": "3", "name": "Email Success", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1100, 100], "credentials": {"smtp": {"id": "YOUR_SMTP_CREDENTIAL_ID", "name": "Gmail SMTP"}}},
    {"parameters": {"conditions": {"options": {"caseSensitive": false, "typeValidation": "loose"}, "conditions": [{"leftValue": "={{ $json.exitCode }}", "rightValue": 1, "operator": {"type": "number", "operation": "equals"}}], "combinator": "and"}}, "id": "7", "name": "Error?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1100, 300]},
    {"parameters": {"sendTo": "YOUR_EMAIL@gmail.com", "subject": "❌ Breaking News - ERROR", "emailType": "html", "message": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:sans-serif;background:#f5f5f5;padding:20px}.container{max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden}.header{background:#ef4444;color:#fff;padding:30px;text-align:center}.content{padding:30px}.error-box{background:#1f2937;color:#ef4444;padding:15px;border-radius:8px;font-family:monospace;font-size:12px;white-space:pre-wrap;max-height:300px;overflow-y:auto}</style></head><body><div class=\"container\"><div class=\"header\"><h1>❌ Breaking News Error</h1></div><div class=\"content\"><h3>🚨 Error Log</h3><div class=\"error-box\">{{ $json.stdout }}</div></div></div></body></html>"}, "id": "4", "name": "Email Error", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1300, 250], "credentials": {"smtp": {"id": "YOUR_SMTP_CREDENTIAL_ID", "name": "Gmail SMTP"}}},
    {"parameters": {}, "id": "8", "name": "No News (Silent)", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1300, 400]}
  ],
  "connections": {"Every 10 Minutes": {"main": [[{"node": "Run Breaking News", "type": "main", "index": 0}]]}, "Run Breaking News": {"main": [[{"node": "Parse JSON Summary", "type": "main", "index": 0}]]}, "Parse JSON Summary": {"main": [[{"node": "Success?", "type": "main", "index": 0}]]}, "Success?": {"main": [[{"node": "Email Success", "type": "main", "index": 0}], [{"node": "Error?", "type": "main", "index": 0}]]}, "Error?": {"main": [[{"node": "Email Error", "type": "main", "index": 0}], [{"node": "No News (Silent)", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1", "timezone": "Asia/Seoul"}
}
