n8n_daily_shorts_rss_morning_scheduled.json
{
  "name": "News Automation - Daily Shorts RSS Morning (Scheduled)",
  "nodes": [
    {"parameters": {"rule": {"interval": [{"triggerAtHour": 11, "triggerAtMinute": 45}]}}, "id": "1", "name": "Daily 11:45AM", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [250, 200]},
    {"parameters": {"conditions": {"options": {"caseSensitive": true, "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $now.weekday }}", "rightValue": 7, "operator": {"type": "number", "operation": "notEquals"}}, {"leftValue": "={{ $now.weekday }}", "rightValue": 1, "operator": {"type": "number", "operation": "notEquals"}}], "combinator": "and"}}, "id": "2", "name": "Skip Sun-Mon", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [450, 200]},
    {"parameters": {"command": "C:\\Users\\USER\\AppData\\Local\\Python\\pythoncore-3.14-64\\python.exe D:\\workspace\\news\\run_daily_shorts_rss_morning.py --upload", "options": {"timeout": 1200000}}, "id": "3", "name": "Run Daily Shorts RSS Morning", "type": "n8n-nodes-base.executeCommand", "typeVersion": 1, "position": [650, 200], "onError": "continueRegularOutput"},
    {"parameters": {"jsCode": "const items = $input.all();\nconst item = items[0].json;\nconst stdout = item.stdout || '';\nconst exitCode = item.exitCode;\nlet summary = {};\nconst match = stdout.match(/\\[JSON_SUMMARY\\]([\\s\\S]*?)\\[\\/JSON_SUMMARY\\]/);\nif (match) { try { summary = JSON.parse(match[1].trim()); } catch (e) {} }\nreturn [{ json: { exitCode: exitCode, stdout: stdout, title: summary.title || '', description: summary.description || '', video: summary.video || '', api: summary.api || 'OpenAI' } }];"}, "id": "7", "name": "Parse JSON Summary", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [850, 200]},
    {"parameters": {"conditions": {"options": {"caseSensitive": false, "typeValidation": "loose"}, "conditions": [{"leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": {"type": "number", "operation": "equals"}}], "combinator": "and"}}, "id": "6", "name": "Success?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1050, 200]},
    {"parameters": {"sendTo": "YOUR_EMAIL@gmail.com", "subject": "=✅ Daily Shorts (US): {{ $json.title }}", "emailType": "html", "message": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;background:#f5f5f5;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1)}.header{background:linear-gradient(135deg,#10b981,#059669);color:#fff;padding:30px;text-align:center}.header h1{margin:0;font-size:24px}.content{padding:30px}.info-box{background:#f0fdf4;border-left:4px solid #10b981;padding:15px;margin:15px 0;border-radius:0 8px 8px 0}.info-row{display:flex;justify-content:space-between;padding:8px 0;border-bottom:1px solid #e5e7eb}.label{color:#6b7280;font-size:14px}.value{color:#111827;font-weight:600}.desc-box{background:#f0fdf4;border-left:4px solid #10b981;padding:15px;margin:15px 0;border-radius:0 8px 8px 0;white-space:pre-wrap}.output-box{background:#1f2937;color:#10b981;padding:15px;border-radius:8px;font-family:monospace;font-size:11px;white-space:pre-wrap;max-height:200px;overflow-y:auto}.footer{background:#f9fafb;padding:20px;text-align:center;color:#6b7280;font-size:12px}</style></head><body><div class=\"container\"><div class=\"header\"><h1>✅ Daily Shorts (US) 업로드 완료!</h1></div><div class=\"content\"><div class=\"info-box\"><div class=\"info-row\"><span class=\"label\">Job</span><span class=\"value\">Daily Shorts (US Primetime)</span></div><div class=\"info-row\"><span class=\"label\">Engine</span><span class=\"value\">{{ $json.api }}</span></div><div class=\"info-row\"><span class=\"label\">Time</span><span class=\"value\">{{ $now.format('yyyy-MM-dd HH:mm:ss') }} KST</span></div></div><h3>📺 제목</h3><div class=\"desc-box\">{{ $json.title }}</div><h3>📝 YouTube 설명</h3><div class=\"desc-box\">{{ $json.description }}</div><details><summary>📋 전체 로그</summary><div class=\"output-box\">{{ $json.stdout }}</div></details></div><div class=\"footer\">🤖 AI News Daily</div></div></body></html>"}, "id": "4", "name": "Email Success", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1250, 100], "credentials": {"smtp": {"id": "YOUR_SMTP_CREDENTIAL_ID", "name": "Gmail SMTP"}}},
    {"parameters": {"sendTo": "YOUR_EMAIL@gmail.com", "subject": "❌ Daily Shorts (US) - FAILED", "emailType": "html", "message": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:sans-serif;background:#f5f5f5;padding:20px}.container{max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden}.header{background:#ef4444;color:#fff;padding:30px;text-align:center}.content{padding:30px}.error-box{background:#1f2937;color:#ef4444;padding:15px;border-radius:8px;font-family:monospace;font-size:12px;white-space:pre-wrap;max-height:300px;overflow-y:auto}</style></head><body><div class=\"container\"><div class=\"header\"><h1>❌ Job Failed</h1></div><div class=\"content\"><h3>🚨 Error Log</h3><div class=\"error-box\">{{ $json.stdout }}</div></div></div></body></html>"}, "id": "5", "name": "Email Failure", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1250, 300], "credentials": {"smtp": {"id": "YOUR_SMTP_CREDENTIAL_ID", "name": "Gmail SMTP"}}}
  ],
  "connections": {"Daily 11:45AM": {"main": [[{"node": "Skip Sun-Mon", "type": "main", "index": 0}]]}, "Skip Sun-Mon": {"main": [[{"node": "Run Daily Shorts RSS Morning", "type": "main", "index": 0}]]}, "Run Daily Shorts RSS Morning": {"main": [[{"node": "Parse JSON Summary", "type": "main", "index": 0}]]}, "Parse JSON Summary": {"main": [[{"node": "Success?", "type": "main", "index": 0}]]}, "Success?": {"main": [[{"node": "Email Success", "type": "main", "index": 0}], [{"node": "Email Failure", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1", "timezone": "Asia/Seoul"}
}
