n8n_daily_shorts_rss_scheduled.json
{
  "name": "News Automation - Daily Shorts RSS Evening (Scheduled)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "id": "1",
      "name": "Daily 8:50PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $now.weekday }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "leftValue": "={{ $now.weekday }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "2",
      "name": "Skip Sat-Sun (KR Weekend)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 200]
    },
    {
      "parameters": {
        "command": "C:\\Users\\USER\\AppData\\Local\\Python\\pythoncore-3.14-64\\python.exe D:\\workspace\\news\\run_daily_shorts_rss.py"
      },
      "id": "3",
      "name": "Run Daily Shorts RSS Evening",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [700, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "6",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "✅ [News Automation] Daily Shorts (Evening) - Success",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;background:#f5f5f5;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1)}.header{background:linear-gradient(135deg,#10b981,#059669);color:#fff;padding:30px;text-align:center}.header h1{margin:0;font-size:24px}.header .icon{font-size:48px;margin-bottom:10px}.content{padding:30px}.info-box{background:#f0fdf4;border-left:4px solid #10b981;padding:15px;margin:15px 0;border-radius:0 8px 8px 0}.info-row{display:flex;justify-content:space-between;padding:8px 0;border-bottom:1px solid #e5e7eb}.info-row:last-child{border-bottom:none}.label{color:#6b7280;font-size:14px}.value{color:#111827;font-weight:600}.output-box{background:#1f2937;color:#10b981;padding:15px;border-radius:8px;font-family:monospace;font-size:12px;white-space:pre-wrap;max-height:300px;overflow-y:auto;margin-top:20px}.footer{background:#f9fafb;padding:20px;text-align:center;color:#6b7280;font-size:12px}</style></head><body><div class=\"container\"><div class=\"header\"><div class=\"icon\">✅</div><h1>Job Completed Successfully!</h1></div><div class=\"content\"><div class=\"info-box\"><div class=\"info-row\"><span class=\"label\">Job Type</span><span class=\"value\">Daily Shorts (Evening - Korea Primetime)</span></div><div class=\"info-row\"><span class=\"label\">Time</span><span class=\"value\">{{ $now.format('yyyy-MM-dd HH:mm:ss') }} KST</span></div><div class=\"info-row\"><span class=\"label\">Status</span><span class=\"value\" style=\"color:#10b981\">SUCCESS</span></div></div><h3 style=\"color:#374151;margin-top:25px\">📋 Output Log</h3><div class=\"output-box\">{{ $json.stdout }}</div></div><div class=\"footer\"><p>🤖 AI News Automation Pipeline v2.5</p><p>GitHub: github.com/quietload/ai-news-automation</p></div></div></body></html>"
      },
      "id": "4",
      "name": "Email Success",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1100, 100],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "❌ [News Automation] Daily Shorts (Evening) - FAILED",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;background:#f5f5f5;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1)}.header{background:linear-gradient(135deg,#ef4444,#dc2626);color:#fff;padding:30px;text-align:center}.header h1{margin:0;font-size:24px}.header .icon{font-size:48px;margin-bottom:10px}.content{padding:30px}.info-box{background:#fef2f2;border-left:4px solid #ef4444;padding:15px;margin:15px 0;border-radius:0 8px 8px 0}.info-row{display:flex;justify-content:space-between;padding:8px 0;border-bottom:1px solid #e5e7eb}.info-row:last-child{border-bottom:none}.label{color:#6b7280;font-size:14px}.value{color:#111827;font-weight:600}.error-box{background:#1f2937;color:#ef4444;padding:15px;border-radius:8px;font-family:monospace;font-size:12px;white-space:pre-wrap;max-height:300px;overflow-y:auto;margin-top:20px}.action-box{background:#fef3c7;border:1px solid #f59e0b;padding:15px;border-radius:8px;margin-top:20px}.action-box h4{margin:0 0 10px 0;color:#92400e}.action-box ul{margin:0;padding-left:20px;color:#78350f}.footer{background:#f9fafb;padding:20px;text-align:center;color:#6b7280;font-size:12px}</style></head><body><div class=\"container\"><div class=\"header\"><div class=\"icon\">❌</div><h1>Job Failed</h1></div><div class=\"content\"><div class=\"info-box\"><div class=\"info-row\"><span class=\"label\">Job Type</span><span class=\"value\">Daily Shorts (Evening - Korea Primetime)</span></div><div class=\"info-row\"><span class=\"label\">Time</span><span class=\"value\">{{ $now.format('yyyy-MM-dd HH:mm:ss') }} KST</span></div><div class=\"info-row\"><span class=\"label\">Status</span><span class=\"value\" style=\"color:#ef4444\">FAILED</span></div></div><h3 style=\"color:#374151;margin-top:25px\">🚨 Error Details</h3><div class=\"error-box\">{{ $json.stderr }}</div><div class=\"action-box\"><h4>⚡ Recommended Actions</h4><ul><li>Check the log files in D:\\workspace\\news\\logs\\</li><li>Verify API keys are valid (.env file)</li><li>Check internet connection and RSS feed availability</li><li>Restart n8n if the issue persists</li></ul></div></div><div class=\"footer\"><p>🤖 AI News Automation Pipeline v2.5</p><p>GitHub: github.com/quietload/ai-news-automation</p></div></div></body></html>"
      },
      "id": "5",
      "name": "Email Failure",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1100, 260],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    }
  ],
  "connections": {
    "Daily 8:50PM": {
      "main": [
        [
          {
            "node": "Skip Sat-Sun (KR Weekend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Sat-Sun (KR Weekend)": {
      "main": [
        [
          {
            "node": "Run Daily Shorts RSS Evening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Daily Shorts RSS Evening": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Email Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  }
}
